*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background: #F2EFF2;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
}

.container {
  margin: 0 auto;
  width: 70%;
}


.box__list{
  padding: 50px;
  font-size: larger;
}

.box__list b {
  font-weight: bolder;
}

.box__list__item{
  margin: 10px;
}

@media (max-width: 900px) {
  .container {
    margin: 0 auto;
    padding: 0;
    width: 80%;
  };

  .box {
      padding: 15px;
      border: lightgray;
      border-style: solid;
      border-width: 1px;
      margin-top: 20px;
      background: white;
  }

  .box__items  {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
  }

  .box__items__text {
      width: 250px;
      height: 30px;
      text-align: center;
  }

  .box__items__button {
      margin-top: 15px;
      color: white;
      background: rgb(62,59,64);
      padding: 5px;
      width: 150px;
      height: 50px;
  }
}

@media (min-width: 900px) {

  .box {
      border: lightgray;
      border-style: solid;
      border-width: 1px;
      margin: 20px 200px 0px 200px;
      padding: 50px 0px; 
      background: white;
  }
  
  .box__items  {
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  .box__items__text {
      width: 250px;
      height: 50px;
      text-align: center;
  }
  
  .box__items__button {
      color: white;
      background: rgb(62,59,64);
      padding: 5px;
      width: 150px;
      height: 50px;
  }


}
