*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background: #F2EFF2;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
}

.container {
  margin: 0 auto;
  width: 70%;
}

@media (max-width: 900px) {
  .container {
    margin: 0 auto;
    padding: 0;
    width: 80%;
  };
}